
.page{
    position: relative;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
}

.home-button img {
    position: absolute;
    left: 20px;
    top: 60px;
    width: 40px;
}

.product-container {
    position: relative;
    flex-direction: column;
    align-items: normal;
    width: 70%;

}

.product-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    align-items: center;
    padding: 20px;
}

.product-data img {
    width: 130px;
    margin: 0 auto;
    border-radius: 10px;
}

.product-text {
    padding: 10px;
}

.product-name {
    margin: 10px;
    color: #f29400;
    text-align: center;
}

.product-price {
    margin: 10px;
    color: #0e3083;
    text-align: center;
}

.product-quantity {
    margin: 0 auto;
    width: 100px;
    display: inline;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #0e3083;
    border-radius: 20px;

}

.product-quantity button {
    padding: 0;
    margin-inline: 10px;
    font-size: 1.7em;
    font-weight: bolder;
    background: none;
}


.delete-product {
    position: absolute;
    right: 0;
    top: 0;
    color: #cf2525;
    background: none;
}

.delete-product:hover {
    color: white;
    background-color: #cf2525;
}

.cart-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    color: #f29400;

}

.cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#total-price{
    text-align: center;
}

.cart-total button {
    margin: 20px;
}


@media screen and (width < 1025px) {
    .home-button img {
        top: 55px;
        width: 40px;
    }

    .product-container {
        width: 90%;

    }

    .product-data {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .product-data img {
        width: 100px;
    }

    .cart-total {
        width: 70%;
    }

    .product-quantity button {
        font-size: 1.5em;
    }

}

@media screen and (width < 900px) {

    .cart-container {
        margin: 20px auto;
    }

    .product-quantity button {
        font-size: 1.3em;
    }
}

@media screen and (width < 769px) {
    .home-button img {
        top: 35px;
        width: 30px;
    }

    .product-data img {
        width: 80px;
    }

    .cart-total {
        width: 90%;
    }
}

@media screen and (width < 470px) {
    
    .product-quantity {
        width: 80px;
    }

    .product-quantity button {
        font-size: 1em;
    }
}