<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error404</title>
    <link rel="stylesheet" href="../styles/404.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
            <h1 class="hit-the-floor">Error 
             <span>4<img src="../assets/img/tuerca.png" alt="tuerca" id="tuerca">4</span></h1>
            <p class="texto hit-the-floor">Parece que no se encuentra el sitio web que buscas...</p>
            <h2 class="texto hit-the-floor">¿Qué tal si vuelves al nuestro?</h2>
            <a href="../index.php">
                <img class="logo" src="../assets/img/LogoCompleto.png" alt="Volver a la Página inicial">
            </a>
        </div>
    </div>
</body>

</html>