<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/404.css">
</head>

<body>
    <div class="left-side">
        <h1 class="hit-the-floor number" id="top-number">4</h1>
            <h1 class="hit-the-floor err">Err</h1>
            <img src="../assets/img/tuerca.png" alt="tuerca" id="tuerca">
            <h1 class="hit-the-floor r">r</h1>
        <h1 class="hit-the-floor number" id="bottom-number">4</h1>
    </div>
    <div class="rigth-side">
        <div class="texto">
            <p>Parece que no se encuentra el sitio web que buscas...</p>
            <h2>¿Qué tal si vuelves al nuestro?</h2>
        </div>
        <a href="../index.html">
            <img class="logo" src="../assets/img/LogoCompleto.png" alt="Volver a la Página inicial">
        </a>
    </div>
</body>

</html>