<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="../styles/403.css" rel="stylesheet">
</head>

<body>


    <div class="left-side">
        <div class="acceso">
            <div class="line-acceso"></div>
            <h1 class="title-acceso">Acceso</h1>
        </div>
        <div class="bloqueado">
            <div class="line-bloqueado"></div>
            <h1 class="title-bloqueado">Bloqueado</h1>
        </div>
        <img class="tools" src="/assets/img/señalLlavesInglesas.png" alt="">
    </div>

    <div class="rigth-side">
        <a href="../index.html" class="logo">
            <img src="../assets/img/LogoCompleto.png" alt="Volver a la Página inicial">
        </a>
    </div>
</body>

</html>