<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/403.css" rel="stylesheet">
</head>

<body>
    <div class="top-container">
        <div class="acceso">
            <div class="line-acceso"></div>
            <h1 class="title-acceso">Acceso</h1>
        </div>
        <div class="bloqueado">
            <div class="line-bloqueado"></div>
            <h1 class="title-bloqueado">Bloqueado</h1>
        </div>
    </div>
    <div class="bottom-container">
        <a href="../index.php"><button>VOlVER AL INICIO</button></a>
    </div>
</body>

</html>