@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    font-family: Montserrat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    align-items: center;
    background-color: #f0f0f0;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.acceso{
    position: relative;
    font-size: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    color: rgb(13, 48, 130);
}
.bloqueado{
    position: relative;
    margin: 0 auto;
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(13, 48, 130);
}

.tools {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 150px;
    margin: 0 auto;
}

h1::first-letter{
    font-size: 150px;
    color: #f29400;
}

.line-acceso {
    position: absolute;
    z-index: 1;
    width: 315px;
    height: 17.5px;
    background-color: rgb(242, 148, 0);
    top: 11rem;
    left: 6rem;

    animation: tachar 1.5s 1;
}

.line-bloqueado {
    position: absolute;
    z-index: 1;
    width: 510px;
    height: 17.5px;
    background-color: rgb(242, 148, 0);
    top: 11rem;
    left: 6rem;

    animation: tachar2 1.5s 1;
}


.rigth-side{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.logo {
    margin-top: 5rem;
    

     img {
        width: 80%;
     }

     animation: pulse 10s cubic-bezier(0, 0.55, 0.45, 1) 0s infinite normal forwards;
}

@keyframes tachar {
    from {
        width: 0ch;
    }

    to {
        width: 315px;
    }
}

@keyframes tachar2 {
    from {
        width: 0ch;
    }

    to {
        width: 510px;
    }
}

@keyframes pulse {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}