@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Mulish;
    src: url(../assets/fonts/Mulish.ttf);
}


.hit-the-floor {
    text-align: center;
    color: #f29400;
    font-size: 10em;
    font-weight: bold;
    font-family: Montserrat;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
        0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

/* LeftSide */
.container{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}


#tuerca{
    width: 125px;
    height: auto;
    margin: 0;
    animation: rotate 10s linear infinite;
}

span{
    color: #0e3083;
    white-space: nowrap;
}


.logo {
    width: 400px;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.texto {
    font-family: Mulish;
    font-size: 3em;
    color: #363636;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen  and (width < 901px){
    .hit-the-floor{
        font-size: 10em;
    }

    .texto{
        font-size: 3em;
    }

    #tuerca{
        width: 125px;

    }
}
    
@media screen  and (width < 769px){
    .hit-the-floor{
        font-size: 8em;
    }

    .texto{
        font-size: 2em;
    }

    #tuerca{
        width: 100px;

    }
}

@media screen  and (width < 769px){
    .logo{
        width: 300px;
    }
}
    
