@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    height: 97.5vh;
    font-family: Montserrat;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    background-color: #f0f0f0;
    margin: 50px;
}

.hit-the-floor {
    text-align: center;
    color: rgba(75, 47, 27, 255);
    font-size: 12em;
    font-weight: bold;
    font-family: Montserrat;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
        0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

/* LeftSide */
.left-side {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.err{
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    color: #f29400;
}

#tuerca{
    width: 200px;
    height: 200px;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    animation: rotate 10s linear infinite;
}

.r{
    grid-row-start: 2;
    grid-row-end: 3;  
    margin: 0;
    color: #f29400;
}

#top-number{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    animation: wiggle 3s ease 0s infinite normal forwards;
    color: #0e3083;
}

#bottom-number{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    animation: wiggle 3s ease 0s infinite normal forwards;
    color: #0e3083;
}



/* RigthSide */

.rigth-side {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 600px;
    animation: pulse 10s cubic-bezier(0, 0.55, 0.45, 1) 0s infinite normal forwards;
}

.logo:hover {
    cursor: pointer;
}

.texto {
    text-align: center;
    width: 100%;
    flex-direction: column;
    font-size: xx-large;
}

@keyframes pulse {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@media screen and (width < 1220px){
    .rigth-side{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
    
