body {
    padding-top: 100px;
}

.header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.5);
}

.title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    color: #f29400;
    background-color: #0e3083;
    align-items: center;


    h1 {
        width: 100%;
        text-align: center;
    }
}

.title-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}

.control-panel {
    text-align: center;
}


.form-title {
    text-align: center;
    color: #0e3083;
}

.form-element-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
}

.form-element {
    input {
        padding: 10px;
        border: 1px solid #0e3083;
        border-radius: 10px;
    }

}

.btn-container {
    margin-top: 20px;
}

.product-container {
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    padding: 20px;

    p {
        text-align: center;
    }
}


img {
    width: 80px;
    margin: 30px;
}

.name {
    min-width: 200px;
    margin: 30px;
}

.price {
    margin: 30px;
    min-width: 100px;
}

.button-container {
    text-align: center;
}

#delete-btn {
    color: #cf2525;
    background: none;
}

#delete-btn:hover {
    color: white;
    background-color: #cf2525;
}

#edit-btn {
    color: #f29400;
    background: none;
}

#edit-btn:hover {
    color: white;
    background-color: #f29400;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(242, 148, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin: 5% auto;
    width: 100%;
    padding: 40px;
    border-radius: 20px;

}

.close {
    color: #0e3083;
    position: absolute;
    text-align: center;
    right: 420px;
    top: 0;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.section-title{
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid #f29400;
}

#pedido table{
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    border-collapse: collapse;
    text-align: center;
    
    th{
        color: #f29400;
        background-color: #0e3083; 
    } 
}

#pedido tr:nth-child(even){
    background-color: #0e2f8383;
}

#pedido td{
    padding: 20px;
}