.contact-title-container {
    margin: 80px auto;
    margin-bottom: 0;
    width: 80%;
}

.contact-subtitle {
    text-align: center;
    color: #0e3083;
}

.contact-data-container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
}

.contact-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    h4 {
        margin-left: 50px;
    }
}

.ubication:hover {
    color: #f29400;
}

.horario {
    border: 2px solid #0e3083;
    border-radius: 20px;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    align-items: normal;
}

.parragraf {
    text-align: left;
}

.horario-container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;

    p {
        text-align: center;
    }

}

.week{
    margin: 0 auto;
}

.weekend{
    margin: 0 auto;
}

.horario-title {
    border-bottom: 2px solid #f29400;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    color: #0e3083;
}


.icon {
    width: 50px;
    height: 50px;
}



@media screen and (width < 1441px) {

    /*     .contact-data-left{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
 */
    .icon {
        width: 35px;
        height: 35px;
    }

    .parragraf {
        font-size: 1em;
    }

}

@media screen and (width < 1025px) {
    .contact-data-left {
        flex-direction: column;
    }

    .horario-container {
        width: 100%;
    }
}

@media screen and (width < 901px) {
    .contact-title-container {
        margin: 40px auto;

    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (width < 470px) {

    .contact-data-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .horario-container {
        flex-direction: column;
    }

    h3 {
        font-size: 1.2em;
    }
}