@import url('./style.css');

header{
    background-color: #f0f0f0;
    width: 98%;
    position: fixed;
    z-index: 1000;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para el header logo y titulo */
.header-top-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: space-between;
    padding: 20px;
}

.identity-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 150px;
    }
}

#logo-completo{
    display: none;
}

.identity-title-container {
    padding: 10px;
    white-space: nowrap;
}

.identity-title {
    color: #f29400;
    margin: 0;
}



.identity-subtitle {
    color: #0e3083;
    font-size: large;
    margin-top: 0;
}


/* Estilos para menus de navegación y user */

.navigation-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #0e3083;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: x-large;
    color: #f29400;
    margin: 0 auto;

}

.menu-element {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    transition: transform 0.3s ease;
}

.menu-element:hover {
    transform: scale(1.1);
}

.user-menu {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.user-name{
    color: #0e3083;
}

.cart-icon img{
    width: 50px;
}

.user-menu a{
    color: #f29400;
}

.user-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Estilos para el botón hamburguesa */
.menu-toggle { 
    z-index: 1000;
    position: fixed;
    width: 45px;
    cursor: pointer;
    margin: 20px;
    display: none;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-toggle span {

    text-align: center;
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background-color: #f29400;
    margin: 8px 0;
    transition: 0.3s ease-in-out;
}

.menu-toggle.active span:nth-child(1) {
    background-color: #0e3083;
    transform: rotate(-45deg) translate(-12px, 6px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    background-color: #0e3083;
    transform: rotate(45deg) translate(-12px, -6px);
}

/* Estilos para el menú hamburguesa */
.hamburger-container {
    padding-top: 100px; /* Mantenemos el padding-top */
    font-size: 2em;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 98%;
    height: 0;
    background-color: #f29400;
    
    overflow: hidden; /* Oculta el contenido que desborda */
    transition: height 0.5s ease-in-out; /* Transición suave de la altura */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-container.show {
    
    height: calc(100vh - 100px); /* Cuando se muestra, la altura es 100% de la ventana menos el padding-top */
}

.burger-menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

#success-message {
        display: none;
        text-align: center;
    p {
        margin: 0;
        display: inline-flex;
        background-color: #f29400;
        color: #0e3083;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

/* Media query para mostrar el botón hamburguesa y el menú desplegable en dispositivos con ancho inferior a 600px */
@media screen and (max-width: 900px) {

 /*    #logo{
        display: none;
    }

    #logo-completo{
        margin-bottom:20px ;
        display: block;
        width: 300px;
    } 

    .identity-title-container{
        display: none;
    }*/

    .header-top-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
        z-index: 1;
    }

    .hidden {
        display: none; /* Ocultamos los menús de navegación normales */
    }

    .burger-menu a {
        margin-top: 20px;
        color: #0e3083;
    }
}