.page{
position: relative;
}

.home-button img {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 50px;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.order-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    width: 90%;
    margin: 0 auto;

}

.order-details {
    border-radius: 20px;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

.total-price {
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    color: #0e3083;
    border-radius: 10px;
    border: 2px solid #f29400;
}

.product-container {
    width: 90%;
    padding: 20px;
    justify-content: space-between;
}

.product-container img {
    width: 100px;
}

.product-element {
    white-space: nowrap;
    margin: 20px;
}

.order-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#loginMessage{
    display: none;
    text-align: center;
    color: #cf2525;
    padding: 20px;
}

#loginForm{
    flex-direction: row;
    width: 100%;
    justify-content: center ;
    align-items: center;
    border: 1px solid #0e3083;
    border-radius: 10px;
    padding: 5px;
}

.data-container h3 {
    display: inline-flex;
}

#orderForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#orderForm div{
    margin-top: 20px;
    display: flexbox;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#name, #surname {
    width: 41.5%;
} 

#postal_code, #location, #country{
    width: 24.8%;
}

#phone, #payment-method  {
    width: 40%;
}

#payment-method {
    width: 44.2%;
    font-family: Mulish;
    color: #f29400;
    font-size: 1em;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #0e3083;
    border-radius: 10px;
}

#payment-method:focus {
    color: #0e3083;
    border: 1px solid #f29400;
    outline: none;
}

.payment-method:hover {
    cursor: pointer;
}

#bank-transfer-instructions {
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 2px solid #0e3083;
    background-color: white;
    padding: 10px;
}


#bank-transfer-instructions p:last-child {
    text-align: center;
}

.parragraf {
    text-align: center;
}

p strong {
    font-size: 1.2em;
    color: #f29400;
}

#place-order-btn{
    margin-top: 20px;
}

@media screen and (width < 1441px) {
    #name, #surname {
        width: 39%;
    } 
    
    #postal_code, #location, #country{
        width: 22%;
    }
    
}

@media screen and (width < 1025px) {
    .home-button img {
        width: 40px;
    }

    #name, #surname {
        width: 41.5%;
    } 
    
    #postal_code, #location, #country{
        width: 24.8%;
    }
    
    #phone, #payment-method  {
        width: 40%;
    }
}

@media screen and (width < 769px) {
    .home-button img {
        width: 30px;
    }

    #payment-method {
        padding: 8px;
        font-size: 0.8em;
    }
}

@media screen and (width < 470px) {

    .order-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 40px;
        width: 90%;
        margin: 0 auto;
    
    }

    .total-price {
        width: 50%;
    }

    .product-container {
        width: 50%;
        flex-direction: column;
    }

    .product-container img{
        width: 80px;
    }

    #loginForm{
        flex-direction: column;
    }

    #name, #surname {
        width: 38%;
    } 
    
    #postal_code, #location, #country{
        width: 23%;
    }
    
    #phone, #payment-method  {
        width: 39%;
    }
}