.page {
position: relative;
}
.page h1{
text-align: center;
padding: 30px;
}

.home-button img{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
}

.register-form-container{
    width: 30%;
    margin: 0 auto;
}

.register-form-container form{
 display: flex;
 flex-direction: column;
}


#show-code-btn{
    margin: 20px;
    cursor: pointer;
}

#show-code-btn:hover{
    color: #0e3083;
    cursor: pointer;
}

.register-form-container button{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 25%;
}