
.logo{
    text-align: center;
}

.logo img{
    width: 30%;
}

.container {
    position: relative;
    margin:0 auto;
    width: 60%;
    border: 3px solid #0e3083;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
}

.home-button img{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
}

.error{
    color: #cf2525 ;
}

.message img{
    margin-inline: 20px;
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.register-form-container{
    width: 30%;
    margin: 0 auto;
}

.register-form-container form{
 display: flex;
 flex-direction: column;
}


#show-code-btn{
    margin: 20px;
    cursor: pointer;
}

#show-code-btn:hover{
    color: #0e3083;
    cursor: pointer;
}

.register-form-container button{
    margin: 0 auto;
    margin-bottom: 30px;
}